@import 'components/grid/grid.less';
@white-border: 1px solid #fff;

rn-claim-licensor-grid, rn-claim-country-grid{
  .grid-mixin();
	table {
	    /* You have to specify widths */
	    width: 100%;
	    tr>th, tr > td {
	      width:2%;
	    }

	    thead, tbody, tfoot {
		  display: block;
		}
		tbody {
		  height: 400px	;
		  max-height: 600px;
		  overflow-y: overlay;
		  overflow-x: hidden;
	      border: 1px solid #a1a1a1;
	      border-bottom: 0;
		}
		th, td {
		  white-space: nowrap;
		}
	  }
	.entity, .currency, .period, .country, .contentType, .status{
		text-align: left;
	}

}

.pageTitle{
  padding-bottom:0px !important;
  padding-left:25px !important;
}


.claimReviewContainer{
	border: 0px !important;
	padding:0px 10px 10px 0px;


    #aggregate {
  		padding-left:10px;
  		line-height: 0px;
  		padding-top:10px;
  		float:left;
  	}
  	#loading_img
	{
		background:url('../../resources/images/spinner.gif') no-repeat center center;
		padding:10%;
		position: absolute;
		top: 50px;
		margin: 0 auto;
		display:none;
		width: 100%;
	}
	#searchDiv > *{
		float:left;
		margin:0px 5px 0px 0px;
	}
	ul.token-input-list-facebook{
		width:296px !important;
		height: 20px !important;
		border-radius: 4px;
		border-color: #C6C6C6;
	}
	#licensorView, #countryView {
		min-height: 200px;
		/*padding: 10px;
	    border-top:1px solid #808080;*/
	    background-color: #F8F8F8;
	    overflow: hidden;
	}
	#claimLicencorGrid, #claimCountryGrid {
		min-height: 200px;
		overflow-x: scroll;
		overflow-y: hidden;
		clear: both;

		.selected td{
			background: #D1F0FF;
		}
		.invoiceAmount , .overrepAmount, .lineDisputeAmount, .reconAmount, .oaAllocated, .caAllocated, .balance, .priorPaid {
			text-align: right;
		}
		.invPmtSaturation, .pmtSaturation, .overrepDispPer, .liDispPer {
			text-align: right;
		}
	}

	.buttonSubmit{
		margin-left:10px;
	}
}

#chartContainer {
	margin: 0px auto;
}

.customLI{
  background-color: transparent
   !important;
  border: none !important;
}
.marginTop-10{
    margin-top:10px;
  }
.tab-content{
	padding-bottom: 1em ; 
}
.paddingLeft0{
	padding-left:0 !important;
}
/*#messageDiv{
	position: absolute;
	text-align:center;
}*/
