@import 'components/grid/grid.less';
@white-border: 1px solid #fff;

rn-claim-licensor-grid, rn-claim-country-grid{
  .grid-mixin();
	  th, td {
	  	white-space: nowrap;
	  }
	.entity, .currency, .period, .country, .contentType, .status{
		text-align: left;
	}

}

.pageTitle{
  padding-bottom:0px !important;
  padding-left:25px !important;
}
.claimReviewContainer{
	border: 0px !important;
	padding:0px 10px 10px 10px; 

	#myTabs li{
	    background-color: #AFAFB4 ;
	    margin-left:10px;
	    border: #848484 solid 1px;
	    border-top-left-radius: 10px;
	    border-top-right-radius: 10px;
	    border-bottom: 0px;
	    position: relative;    
	    
	    a{
		   text-decoration: none;
		   color: #F6F6F6;
		   margin-right: 0px;
		}
		a:hover
	  	{
		   	color:#000;
		    background-color: #E4E4E4;
		    border-top-left-radius: 10px;
		    border-top-right-radius: 10px;
	  	}

    }
    #myTabs li.active{
    	border:0;
    	top: 1px;
	    a{
			text-decoration: none;
			color:#000 !important;
			background-color: #F4F4F4;
			height: 43px;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
		}
    }
    #aggregate {
  		padding:10px;
  		line-height: 40px;
  	}
  	#loading_img
	{
		background:url('../../resources/images/spinner.gif') no-repeat center center;
		padding:10%;
		position: absolute;
		top: 50px;
		margin: 0 auto;
		display:none;
		width: 100%;
	}
	#searchDiv > *{
		float:left;
		margin:0px 5px 0px 0px;
	}
	ul.token-input-list-facebook{
		width:296px !important;
		height: 20px !important;
		border-radius: 4px;
		border-color: #C6C6C6;
	}
	#licensorView, #countryView {
		background: #f4f4f4;
		height: 400px;
		padding:10px;
		border:1px solid #ddd; 
		border-top:0px;
	}
	#claimLicencorGrid, #claimCountryGrid {
		max-height: 400px;
		overflow: auto;
		clear: both;
		
		.selected td{
			background: #D1F0FF;
		}
		.invoiceAmt , .orDispAmt, .liDispAmt, .reconDispAmt, .qaAlloc, .cnAlloc, .balance, .priorPaid {
			text-align: right;
		}
		.invPaySat, .paySat, .orDispPerc, .liDispPerc {
			text-align: right;
		}
	}

	.buttonSubmit{
		margin-left:10px;
	}
}

#chartContainer {
	margin: 0px auto;
}