.recon-container{
  margin: 50px;
  border: 0px !important;
  padding:10px;

  .pageTitle{
    padding-left: 75px;
    padding-right:5px;
    padding-bottom:25px;
  }

  .grid-custom-overflow{

  }

}

#loading_img
{
  background:url('../../resources/images/spinner.gif') no-repeat center center;
  padding:10%;
}


.searchDiv{
  padding-bottom:10px;
}
