#multipleCommentsContainer{
	
	.multiple-comments-editable {
		font-weight: normal;
		
		line-height: 1.4;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		width: 95%;
		border: 1px solid;
		padding-left: 4px;
		height: auto;
		padding-bottom: 0px;
		font-size: 14px;
		margin: 0px;
		outline: none;
		resize: none;
		float: none;
		width:100%;
	}

	.multiple-comments-parent {
		border: 1px solid #CCCCCC;
		border-radius:4px;
		padding: 0px;
		color: #555555;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 14px;
		width: 100%;
		height: 100px;
		white-space: nowrap;
		overflow: auto;
		min-width: 250px;
		outline: none;
		background-color: white;
	}

	.form-control-comments {
		border-color:#CCCCCC !important;
		box-shadow:none;
	}

	.multiple-comments-editable-height {
		height : 95%;
	}

	.form-control-comments[disabled], .form-control-comments[readonly], fieldset[disabled] .form-control-comments {
		cursor: not-allowed;
		background-color: #eee;
		opacity: 1;
	}

	hr {
		
		margin-top: 0px;
		margin-bottom: 0px;
		border: 0;
		border-top: 0px;
	}
}	