page-ref-country{
	.btn-custom-small {
      color: #ffffff;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      background-color: #1581F4;
      background-image: -moz-linear-gradient(top, #1581f4, #63adf1);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1581f4), to(#63adf1));
      background-image: -webkit-linear-gradient(top, #1581f4, #63adf1);
      background-image: -o-linear-gradient(top, #1581f4, #63adf1);
      background-image: linear-gradient(to bottom, #1581f4, #63adf1);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff00aaff', GradientType=0);
      border-color: #0A66CB #0A66CB #0A66CB;
      filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
      border-radius: 6px !important;
      width:76px;
      padding-right:0 !important;
      padding-left:0 !important;
    }
    .btn-custom-small-disabled{
      width:76px;
      padding-right:0 !important;
      padding-left:0 !important;
    }
}
#refcountryform {
	
	table{
		th:last-child, td:last-child{padding-right:15px;}
		.verNo, .version, .id {text-align:right !important;}
	}
	label{
		font-family: "MyriadPro-Regular", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
		font-size: 12px;
		color: #848484;
		font-weight: normal;
	}
	border-bottom: 1px solid #c6c6c6;
	.main-layout{
		background:#E4E4E4;
		padding-left: 0px;
		position: relative;
		display: none;
	}
	.left-layout{
		border-right:1px solid #C6C6C6;
		padding-top:20px;
		background-color:#f6f6f6;
		height:auto;
		padding-bottom:20px;
	}
	.right-layout{
		padding-top:20px;
	}
	#loading_img, #loading_img1
	{
		background:url('../../resources/images/spinner.gif') no-repeat center center;
		padding:10%;
		position: absolute;
		top: 200px;
		margin: 0 auto;
		display:none;
		width: 100%;
		z-index: 1;
	}
	.form-control{
		height:20px;
		font-size: 12px;
	}
	select.form-control, input.form-control{
		width: auto !important;
	}
	@-moz-document url-prefix() {
		.form-control{
		padding-top:0px;
		padding-bottom:0px;
		}
	}
	// #multipleCommentsContainer {
	// 	margin-left:15px;
	// }
	#refCountryComments{
		>label{
			width:34.4% !important;
		}
		>div{
			width:65%;
		}
	}
	.requiredBar{
		border-left: 2px solid #d24849;
		padding-left: 2px;
			box-sizing: none;
	}
	.normalBar{
		padding-left: 2px;
		box-sizing: none;
	}
	label.control-label{
		padding-top:0px !important;
	}
	#countryForm{
		label.control-label{
			/*width:35%;*/
		}
	}
	#countryFetchDiv{
		label{
			width:41.66666667%;
		}
		>div{
			padding-left:0px;
		}
	}
	.alert-rnotes{
		width:1px;
		height:1px;
		padding:0px;
		margin:0px;
		left: 120px;
	}
	.valid-rnotes{
		width:1px;
		height:1px;
		padding:0px;
		margin:0px;
	}
	.alert-dimension{
		padding: 15px;
		margin-bottom: 20px;
		border-radius: 4px;
		margin-top:10px;
		text-align:center;
	}
	.multiple-comments-editable {
		font-size: 12px !important;
	}
	.selected td{
		background: #D1F0FF;
	}

	div#viewPricingModelDivBlock {
		position: absolute;
		/* width: 700px; */
		display: block;
		position: absolute;
		top: 0px;
		left: 0px;
		min-width: 100%;
		height: 100%;
		z-index: 20;
		/*background: rgba(0, 0, 0, 0.8);
		transition: all 0.5s;
		overflow: hidden;*/
	}

	#viewPricingModelDiv{
		position: absolute;
		width: 700px;
		height:auto;
		border: 1px solid #ddd;
		margin: 0px auto;
		left: 300px;
		top: 20px;
		background: #fff;
		/*display:none;*/
		border-radius: 5px;
		padding:0 0 10px 0;
		z-index: 10;

		fieldset.scheduler-border {
	    	border: 1px groove #ddd;
	    	padding: 0 1.4em 1.4em 1.4em;
	    	margin: 0 0 1.5em 0;
	        -webkit-box-shadow:  0px 0px 0px 0px #000;
	        box-shadow:  0px 0px 0px 0px #000;
		}

		legend.scheduler-border {
	    	width:inherit; /* Or auto */
	    	padding:0 10px; /* To give a bit of padding on the left and right */
	    	border-bottom:none;
	    	font-size: 18px;
		}

		div textarea {
			width: 100%;
		}
	}
	.society, .model, .version, .validFrom, .validTo, .status, .comment, .description, .contentGroup{
		text-align: left;
	}
	.multicomments-required {
        font-size:12px;
        color:red;
        padding: 0px;
      }

      .period-invalid{
        display:none;
        font-size:12px;
        color:red;

      }
      #accModelSel{
      	max-width:155px;
      }
      #localSocietysel{
      	min-width: 155px;
      }

      .socModMapHt{
      	max-height: 200px;
      	min-height:248px;
      }

}

/*Add invoice start*/
		.pageTitle{
			padding: 6px 0 25px 20px;
		}

		.lineDividerInvoice{

			border-top:1px solid #c6c6c6;
		}

		/*.buttonCancel{
			margin-left:70px;
		}

		.buttonSubmit{
			margin-left:10px;
		}*/
/*Add invoice end*/


/*invoice list based on new UX */

.field-invalid{
	right:-10px !important;
	height:20px;
	width:20px;
}

.field-invalid-date{
	right:-30px !important;
	height:20px;
	width:20px;
}

table.breakdown thead {
	background-color: linear-gradient(to top, #7e7e83, #afafb4 100%, #b0b0b5);
	background: -moz-linear-gradient(to top, #7e7e83, #afafb4 100%, #b0b0b5);
	background: -webkit-linear-gradient(to top, #7e7e83, #afafb4 100%, #b0b0b5);
	background: -o-linear-gradient(to top, #7e7e83, #afafb4 100%, #b0b0b5);
	font-size: small;
	color: white;
}

table.breakdown thead th{
	border: 1px solid #848484;
}

table tbody {

	tr:nth-child(odd){
       background: #f9f9f9;
    }

    tr:nth-child(even){
    	background: #f0f0f0;
    }
}

.breakdown-div{
	border: 1px solid #B0B0B5;
	border-radius:4px;

}
.hide {
	display:none;
}

	.has-success .form-control{
		border-color:#CCCCCC !important;
	}

	.has-success .form-control:focus{
		border-color:#CCCCCC !important;
		box-shadow:none;
	}

	.has-feedback .form-control {
		padding-right: 10px;
	}


/*UX CHANGES*/

.input-group-addon{
	padding:0px;
}

.has-success .input-group-addon {
	color: #555;
	background-color: #eee;
	border-color: #ccc;
}
.has-success .control-label{
	color: #848484 !important;
}

.has-error .control-label{
	color: #848484 !important;
}

.mid-header{
	font-family:"MyriadPro-Regular", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif; ;
	font-size:16px;
	color:#848484;
}

// div#usercommentsdiv {
// 	border: 1px solid #827F7F;
// 	border-radius: 4px;
// }

.singleField{
padding-left:5px;
}

div#multipleComments {
	//height: 92px;
}
.breakdownHead{
width:19%;
}

.breakdownIcon{
width:5%;
}
.greyHeader{
  color: #848484;
}
textarea.form-control{
	height:100%;
}

.icon-circle-arrow-right{
  background-position: -240px -144px;
}

.collapsed .icon-circle-arrow-right{
    background-position: -312px -144px;
}

.panel-default {
	border-color: #ddd;
	border: 1px solid #666666;
}
div#grid-society-model {
	max-height: 200px;
	max-height: 200px;
	/*overflow-x: auto;
	overflow-y: auto;*/
	width: 100%;
	//border-radius: 5px;
}

div#grid-revision-history-country {
	max-height: 200px;
	max-height: 200px;
	/*overflow-x: auto;
	overflow-y: auto;*/
	height: 400px;
	width: 100%;
	border-radius: 5px;
}
#refcountryform .calendarDateIcon{
  font-size: 12px;
  font-weight: normal;
  line-height: 19px;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 0 4px 4px 0;
  position: absolute;
  bottom: 0px;
  display: inline-block;
  left: 138px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 3;
}
#refcountryform .requiredBar .calendarDateIcon{
  left:136px;
}
.multipleCommentHeight{
	height: 92px;
}
.marginLeft10{
	margin-left: 10px;
}
