/* Put grid styles here. */
.grid-mixin() {

  @dark-border: 1px solid hsl(0, 0%, 40%);
  @light-border: 1px solid hsl(0, 0%, 75%);
  @border-radius: 8px;

  @row-hover-outline: 3px solid #f1c8c8;

  @header-background: linear-gradient(to bottom, #7e7e83, #afafb4);
  @parent-background: #e4e4e4;
  @child-background: #f6f6f6;
  @selected-background: #d3f0fe;

  @font-color: hsl(0, 0%, 0%);

  @disclosure-symbol: '▶︎';

  & > table {
    width: 100%;
    border-spacing: 0;

    color: @font-color;
  }

  thead, tfoot {
    background: @header-background;

    color: white;

    th, td {
      text-align: left;
      font-weight: normal;
      padding: .33em .5em;
      height: 1.5em;

      border-right: @dark-border;
      border-top: @dark-border;
      border-bottom: @dark-border;

      &:first-child {
        border-left: @dark-border;
      }

      & .sort-arrow {
        font-size: .5em;
      }
    }
  }

  tbody {

    tr {

      background-color: @parent-background;

      &.child {
        background-color: @child-background;
      }

      &.selected {
        background-color: @selected-background;
      }

      &:hover {
        outline: @row-hover-outline;
      }

      td {
        padding: .33em .5em;
        height: 1.5em;

        border-bottom: @light-border;

        &:first-child {
          border-left: @light-border;
        }
        &:last-child {
          border-right: @light-border;
        }
      }

      &:first-child td {
        border-top: none;
      }
    }

    tr.child {
      display: none;

      &.visible {
        display: table-row;
      }
    }
  }

  span.open-toggle,
  span.open-toggle-all {
    display: inline-block;

    &:before {
      content: @disclosure-symbol;
    }
  }

  tr.open span.open-toggle,
  tr.open span.open-toggle-all {
    transform: rotate(90deg);
  }

}

/* Mix them under the appropriate tag like this: */
rn-grid {
  .grid-mixin();
}
