@import 'components/grid/grid.less';
pricing-models-left {
  .grid-mixin();

  th.checbox, td.checkbox {
    width: 30px;
  }

& > table {
    /*width: 100%; */
    border-radius: 0px;
    /*border-spacing: 0;*/

    /*color: hsl(0, 0%, 50%);*/

    /* getting border radius to work right */
    thead:first-child, tbody:first-child {
      & > tr:first-of-type {
        td:first-child, th:first-child {
          border-top-left-radius: 0px;
        }

        td:last-child, th:last-child {
          border-top-right-radius: 0px;
        }
      }

      
    }

    thead {

    	tr {
	    	th {
	    			text-align: right;
		    		padding-right: 0.625em;
					height: 1.5em;
	      			padding-top: .3em;
	      			padding-bottom: .3em;

				
			}

			.currency {
						text-align: right;
						height: 1.5em;
						width: 1.5em !important;
						padding-right: 0.625em !important;
						padding-left: 0.625em !important;

			}
		}

		


    }

    tbody:last-child, tfoot:last-child {
      & > tr:last-of-type {
        td, th {
          height : 1.5625em;
          backgorund: !important;

        }

        td:first-child, th:first-child {
          border-bottom-left-radius: 0px;
          border-bottom: 1px solid #ffffff !important;
        }

        td:last-child, th:last-child {
          border-bottom-right-radius: 0px;
        }
      }
    }

	tbody {

		background: #F6F6F6+ !important;

	    tr {

	    	height : 1.5625em;


	      td {

	        padding-right: 0.5625em;
			padding-left : 0.5625em;
			padding-top  : 0em;
			padding-bottom : 0em;

	        border-right: 1px solid hsl(0, 0%, 75%);

	        /* border-bottom: 1px solid #ffffff !important; */

	        border-bottom: 1px solid #FFFFFF !important;

	        /*&:first-child {
	          border-left: 1px solid hsl(0, 0%, 75%);
	        }
	        &:last-child {
	          border-right: 1px solid hsl(0, 0%, 75%);
	        }*/

	        text-align:right;

	      }

	      /*&:first-child td {
	        border-top: none;
	      }

	      &:last-child {
	          border-bottom : none;
	      }*/

	      .currency  {

	      	text-align:left;
	      	width: 1.5em !important;

	      }

	    }

	    tr.child {
	      display: none;

	      &.visible {
	        display: table-row;
	      }
	    }
	  }
  }
}


.pricing-model{
	.pageHead {
		margin-top: 0px;
		padding-top: 0px;
		margin-bottom: 20px;
		color: #1e2025;
		font-size: 24px;
	}

	.topBar{
		height:20%;
		background-color:red;
	}

	.topsection{
		border-bottom:1px solid black;
	}

	.version{
	 margin-top:10px;
	}

	.right-pb-container{
		border:1px solid #DAD7D7;
		height:500px; 
	}

	fieldset.scheduler-border {
    	border: 1px groove #ddd !important;
    	padding: 0 1.4em 1.4em 1.4em !important;
    	margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #000;
        box-shadow:  0px 0px 0px 0px #000;
	}

	legend.scheduler-border {
    	width:inherit; /* Or auto */
    	padding:0 10px; /* To give a bit of padding on the left and right */
    	border-bottom:none;
	}


	.modelsummary{
		height:300px;
		overflow-y:auto;
	}

	.bottomparthide{
	  display:none;
	}

	.bottompartshow{
	  display:block;
	}

	#pricingmodelGrid tr:hover, #pricingmodelGrid tr.selected {
    		background-color: #FFCF8B !important;
	}
	


.invoiceContainer{
	border:2px solid #DAD7D7;
	padding:10px;
}
#invoiceGrid .dataTables_scrollBody {
	height: 300px !important;
}
#invoiceGrid .dataTables_wrapper{
	overflow: auto;
}
#invoiceGrid .dataTables_scroll{
	border:1px solid #ddd;
	margin-top:10px;
	min-width: 1200px;
}
.dataTables_scrollHead table {
	/*background-color: #848484;*/
	background: -moz-linear-gradient(bottom, #7e7e83, #afafb4 100%, #b0b0b5);
	background: -webkit-linear-gradient(bottom, #7e7e83, #afafb4 100%, #b0b0b5);
	background: -o-linear-gradient(bottom, #7e7e83, #afafb4 100%, #b0b0b5);
	font-size: small;
	color: white;
}
.dataTables_scrollFoot table {
	background: -moz-linear-gradient(bottom, #7e7e83, #afafb4 100%, #b0b0b5);
	background: -webkit-linear-gradient(bottom, #7e7e83, #afafb4 100%, #b0b0b5);
	background: -o-linear-gradient(bottom, #7e7e83, #afafb4 100%, #b0b0b5);
	font-size: small;
	color: white;
}

table.dataTable thead th, table.dataTable thead td {
	border: 1px solid #848484;
}
table.dataTable tfoot th, table.dataTable tfoot td {
	border: 1px solid #848484;
}
table.dataTable tbody tr.country{
	background-color: #E4E4E4;
}
table.dataTable tbody tr.licensor{
	background-color: #F6F6F6;
}
table.dataTable.cell-border tbody td {
	border-top: 1px solid #ffffff;
	border-right: 1px solid #bdbdbd;
}

/*Add invoice start*/
		.pageTitleInv{
		  padding-left:75px;
		 // padding-bottom:25px;
		}

		.lineDividerInvoice{

			border-top:1px solid #c6c6c6;
		}

		.textLeftAlign{
		text-align:left;
		}

		.fileUploadContainer{
		height:70px;
		background-color:#D6D6D6;
		}

		.fileUploadButtonPosition{
			position:absolute;
			right:5px;
			top:5px;
		}

		.breakDown{
			margin-left:5px;
			text-align:left;
			margin-bottom:8px;
		}

		.breakDownBorder{
		 border:1px solid #000000;
		}

		.breakDownIconSize{
			width:16px;
			height:16px;
		}

		.buttonCancel{
			 margin-left:70px;
		}

		.buttonSubmit{
			margin-left:10px;
		}
/*Add invoice end*/

/* Upload File button start*/
.btn-file {
  position: relative;
  overflow: hidden;
  height:30px;
  width:100%;
 padding-bottom:5px;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
/* Upload File button end*/


/*invoice list based on new UX */

.topFilterContainer{
	margin: 15px 0px 15px 0px;
}

.gridControlsContainer{
	 margin: 15px 35px 15px 35px;
}

.bottomContainer{
	margin: 15px 35px 15px 35px;
}


.btn-custom-small.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-custom-small {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #1581F4;
  background-image: -moz-linear-gradient(top, #1581F4, #63ADF1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1581F4), to(#63ADF1));
  background-image: -webkit-linear-gradient(top, #1581F4, #63ADF1);
  background-image: -o-linear-gradient(top, #1581F4, #63ADF1);
  background-image: linear-gradient(to bottom, #1581F4, #63ADF1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff00aaff', GradientType=0);
  border-color: #0A66CB #0A66CB #0A66CB;
  //border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #1581F4;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border-radius:6px !important;
  padding: 3px 22px !important;
  /*font-family: "Times New Roman", Georgia, Serif;*/
}
.btn-custom-small:hover,
.btn-custom-small:focus,
.btn-custom-small:active,
.btn-custom-small.active,
.btn-custom-small.disabled,
.btn-custom-small[disabled] {
  color: #ffffff;
  background-color: #00aaff;
  *background-color: #0099e6;
}
.btn-custom-small:active,
.btn-custom-small.active {
  background-color: #0088cc ;
}


.btn-custom-big {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #1581F4;
  background-image: -moz-linear-gradient(top, #1581F4, #63ADF1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1581F4), to(#63ADF1));
  background-image: -webkit-linear-gradient(top, #1581F4, #63ADF1);
  background-image: -o-linear-gradient(top, #1581F4, #63ADF1);
  background-image: linear-gradient(to bottom, #1581F4, #63ADF1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff00aaff', GradientType=0);
  border-color: #0A66CB #0A66CB #0A66CB;
  //border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #1581F4;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border-radius:6px !important;
  padding: 6px 22px !important;
}
.btn-custom-big:hover,
.btn-custom-big:focus,
.btn-custom-big:active,
.btn-custom-big.active,
.btn-custom-big.disabled,
.btn-custom-big[disabled] {
  color: #ffffff;
  background-color: #00aaff;
  *background-color: #0099e6;
}
.btn-custom-big:active,
.btn-custom-big.active {
  background-color: #0088cc ;
}


.btn-custom-big-disabled {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #1581F4;
  background-image: -moz-linear-gradient(top, #7e7e83, #afafb4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7e7e83), to(#afafb4));
  background-image: -webkit-linear-gradient(top, #7e7e83, #afafb4);
  background-image: -o-linear-gradient(top, #7e7e83, #afafb4);
  background-image: linear-gradient(to bottom, #7e7e83, #afafb4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff00aaff', GradientType=0);
  border-color: #848484 #848484 #848484;
  //border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #7e7e83;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border-radius:6px !important;
  padding: 6px 22px !important;
}
.btn-custom-big:hover,
.btn-custom-big:focus,
.btn-custom-big:active,
.btn-custom-big.active,
.btn-custom-big.disabled,
.btn-custom-big[disabled] {
  color: #ffffff;
  background-color: #7e7e83;
  *background-color: #7e7e83;
}
.btn-custom-big:active,
.btn-custom-big.active {
  background-color: #7e7e83 ;
}





.field-invalid{
	right:-10px !important;
	height:20px;
	width:20px;
	top:4px;
}

.field-invalid-date{
	right:-30px !important;
	height:20px;
	width:20px;
	top:4px;
}

table.breakdown thead {
	background-color: linear-gradient(bottom, #7e7e83, #afafb4 100%, #b0b0b5);
	background: -moz-linear-gradient(bottom, #7e7e83, #afafb4 100%, #b0b0b5);
	background: -webkit-linear-gradient(bottom, #7e7e83, #afafb4 100%, #b0b0b5);
	background: -o-linear-gradient(bottom, #7e7e83, #afafb4 100%, #b0b0b5);
	font-size: small;
	color: white;
}

table.breakdown thead th{
	border: 1px solid #848484;
	font-weight:normal;
}

.breakdown-div{
	border: 1px solid #B0B0B5;
	border-radius:4px;

}
.hide {
	display:none;
}
.requiredBar{
	border-left: 2px solid #d24849;
    padding-left: 2px;
    box-sizing: none;
    height:20px;
}

.rbar{
	border-left: 2px solid #d24849;
    padding-left: 2px;
    box-sizing: none;
    height:20px;
    float:left;
}

.requiredBarNone{
	border-left: 2px solid transparent;
    padding-left: 2px;
    box-sizing: none;
}

.alert-rnotes{
	width:1px;
	height:1px;
	padding:0px;
	margin:0px;
	}
.valid-rnotes{
	width:1px;
	height:1px;
	padding:0px;
	margin:0px;
	}
.taxAmount, .classAmtTotal{
	text-align:right;
}
.taxAmount {
	padding-right:0px !important;
}

.alert-dimension{
	padding: 15px;
	margin-bottom: 20px;
	border-radius: 4px;
	margin-top:10px;
	text-align:center;
}


	.has-success .form-control{
		border-color:#CCCCCC !important;
	}

	.has-success .form-control:focus{
		border-color:#CCCCCC !important;
		box-shadow:none;
	}

	.has-feedback .form-control {
		padding-right: 10px;
	}

	#fxrate{
		text-align:right;
	}

/*UX CHANGES*/
.form-control{
	height:20px;
}

@-moz-document url-prefix() {
  .form-control{
	padding-top:0px;
	padding-bottom:0px;
}
}

.input-group-addon{
	padding:0px;
}

.has-success .input-group-addon {
	color: #555;
	background-color: #eee;
	border-color: #ccc;
}
.has-success .control-label{
	color: #848484 !important;
}

.has-error .control-label{
	color: #848484 !important;
}
.right-border{
	border-right:1px solid #C6C6C6;
	padding-top:20px;
	background-color:#f6f6f6;
}

.left-border{
	border-right:1px solid #C6C6C6;
	padding-top:20px;
	background-color:#E4E4E4;
}
label{
	font-family:HelveticaNeue, "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif; ;
	font-size:12px;
	color:#848484;
	font-weight:normal;
}

.mid-header{
	font-family:HelveticaNeue-Medium, "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif; ;
	font-size:16px;
	color:#848484;
}

.total-amount{
	padding-right:32px;
}

.invoice-total-container{
	border-top: 1px solid #c6c6c6;
	border-bottom:1px solid #c6c6c6;
	padding: 10px;
}
.large-value{
	font-family:HelveticaNeue-Medium, "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif; ;
	font-size:21px;
	color:#3D3D3D;

}

.control-label{
	padding-top:0px !important;
}

smaller-value{
	font-family:HelveticaNeue-Medium, "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif; ;
	font-size:12;
	color:#3D3D3D;
}

.taxpercent{
	padding-right:32px !important;
}

.singleField{
padding-left:5px;
}

.breakdownHead{
width:19%;
}

.breakdownIcon{
width:5%;
}

textarea#licnotes, textarea#usercomments{
	height:100% !important;
	resize: none;
}

 select#regions, select#country, select#entity{
	min-width:140px;
}

.popover{
	max-width:500px;
	width:250px;
}

.pageHead{
	margin-top:0px;
	padding-top:0px;
	margin-bottom:20px;
	color:#1e2025;
	font-size:24px;
}

.textDate{
	text-align:left;
	padding-left:0px;
}

.invtotal-head{
	font-size:21px;
	color:#1e2025;
	font-weight:normal;
}

.invtotal-value{
	font-weight:bold;
	font-size:21px;
	color:#3d3d3d;
}

}
/*Bootstrap validator popover*/

.popover{
	max-width:500px;
	
}




.popover .arrow{
	top:auto;
}

.datepicker th{
	color:#000000;
}




