.applelogo{
  height: 40px;
  width: 43px;
  margin-top: -12px;
  position: relative;
}

.navbar-nav > li > .dropdown-menu {
  background-color: #000000;
}

.dropdown-menu > li > a.dropDwn {
  color: #ffffff;
}

.dropdown-menu li.dropDwn {
  background-color: #333
}


.applelogo{
	height: 41px;
	width: 45px;
	margin-top: -12px;
	position: relative;
}

#dynamicmenu{
	display:none;
}
#dropdown{
	position: absolute;
	top: 50px;
	border:1px solid #ddd;
	background:#000;
	padding-left:0px;
	min-width:140px;
	display:none;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	z-index: 100;
}
#dropdown li{
	list-style:none;
	height:40px;
	color:#fff;
	padding:10px;
}
#dropdown li a{
	color:#fff;
	text-decoration:none;
}
#dropdown li:hover{
	background:#0088cc;
}
#dynhide{
	display:none;
	width:150px;
	display:inline-block;
}
.show{
	min-width:140px;
	text-align:center;
	margin-right: 12px;
}
.submenuactive{
	color: #ffffff !important;
	background-color: #0088cc;
	height: 24px;
	position: relative !important;
	top: 14px;
	padding-top: 1px !important;
	color: #fff;
	border-radius: 6px;
}
#dropdown li:firt-child{
	margin-top:10px;
}
#dropdown li:last-child{
	margin-bottom:10px;
}
