.applelogo{
  height: 30px;
  width: 30px;
  margin-top: -9px;
  position: relative;
}
.navbar-brand{
	position: absolute;
    left: 30px;
}
.navbar{
	border-radius:0px !important;
	margin-bottom: 0px !important;
}
.navbar-nav > li > .dropdown-menu {
  background-color: #000000;
}

.dropdown-menu > li > a.dropDwn {
  color: #ffffff;
}

.dropdown-menu li.dropDwn {
  background-color: #333
}

#dynamicmenu{
	display:none;
}
#dropdown{
	position: absolute;
	top: 50px;
	border-top:2px solid #2B85F9;
	background:#374860;
	padding-left:0px;
	min-width:140px;
	display:none;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	z-index: 100;

}
#dropdown li{
	list-style:none;
	height:40px;
	color:#fff;
	padding:10px;
}
#dropdown li a{
	color:#fff;
	text-decoration:none;
}
#dropdown li:hover{
	background:#2b85f9;
	cursor: pointer;
}
#dynhide{
	display:none;
	width:150px;
	display:inline-block;
}
.show{
	min-width:140px;
	text-align:left;
}
.show.active a{
	background-color: #303949 !important;
	cursor: pointer;
}
.submenuactive{
	color: #ffffff !important;
	background-color: #0088cc;
	height: 24px;
	position: relative !important;
	top: 14px;
	padding-top: 1px !important;
	color: #fff;
	border-radius: 6px;
}
#dropdown li:firt-child{
	margin-top:10px;
}
#dropdown li:last-child{
	margin-bottom:10px;
}
.activemenu{
	position:absolute;
	top:14px;
	right:4px;
	font-size:20px;

}
#rightsidemenu{
	position: absolute;
	right: 30px;
	.logedinimg{
		height:24px;
		width:24px;
		margin-right:5px;
	}
	.username{
		color:#fff;
	}
	.bar{
		color: #777;
	}
	li{
		list-style:none;
		color:#000;
		float:left;
		margin: 15px 5px;
	}
	.rightmenu{
		width: 20px;
		height: 20px;
		vertical-align: middle;
		cursor:pointer;
	}
	.logout{
		background:transparent url('../../resources/images/rn_LogoutActive@2x.png')no-repeat center center;
		background-size: 100% 100%;
	}
	.bookmark{
		background:transparent url('../../resources/images/rn_BookmarkActive@2x.png')no-repeat 2px center;
		background-size: 100% 100%;

	}
	.notification{
		background:transparent url('../../resources/images/rn_AlarmActive@2x.png')no-repeat center center;
		background-size: 100% 100%;

	}
}
