.fileupload-mixin() {

    .outer {
        margin: 1em auto;
        background: #EFEFEF;
        border: 2px dashed #aaa;
        padding: 1em;
        width:400px;
        min-height: 200px;
        max-height: 200px;
        margin-left:10px;
        overflow:hidden;
        text-align:center;
        overflow-y: scroll;
        border-radius: 0.5em;
     }
     .filelist {
        list-style: none;
        margin-left: 0;
        padding-left: 1em;
      }


  .filelist li {
    padding: .2em 0 .2em 1em;
    text-align: left;
    background-color: white;
    border-radius: 0.25em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-weight: 300;
    font-size: 0.9em;
  }

  .filelist li.uploaded::before {
    content: '✔';
    color: green;
  }

      .action-link {
        float: right;
        margin-right: 1em;
      }

      .uploadFiles {
        border-radius: 0.25em;
        background-color: #ccc;
        color: white;
        border: none;
        font-size: 0.85em;
        padding: 0.3em 0.75em 0.2em;
        background: -webkit-linear-gradient(#aaa, #999); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#aaa, #999); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#aaa, #999); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#aaa, #999); /* Standard syntax  */
      }

  .fade {
    opacity: 0;
    -webkit-transition: opacity 3.0s linear;
    -moz-transition: opacity 3.0s linear;
    -o-transition: opacity 3.0s linear;
    transition: opacity 3.0s linear;
  }
  .fade.in {
    opacity: 1;
    -webkit-transition: opacity 3.0s linear;
    -moz-transition: opacity 3.0s linear;
    -o-transition: opacity 3.0s linear;
    transition: opacity 3.0s linear;
  }

  #showSuccess{
    font-size: 12px;
    font-weight: bold;
    color: #0088cc;
    padding: 5px;
  }
  .success, .fileError{
    font-size: 12px;
    font-weight: bold;
    color: green;
    padding: 5px;
  }
  .fileError{
    color:red;
  }

}

/* Mix them under the appropriate tag like this: */
rn-file-uploader {
  .fileupload-mixin();
}
