.claimContainer{
  #myTabs{
   
  }
  
  #myTabs li{
    background-color: #AFAFB4 ;
    margin-left:10px;
    border: #848484 solid 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
      }
  #myTabs li a
  {
   text-decoration: none;
   color: #F6F6F6;
   margin-right: 0px;

  }
  #myTabs li a:hover
  {
   color:#000;
    background-color: #E4E4E4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

  }
   #myTabs li.active
  { 
    border:0;

  }
  #myTabs li.active a
  {
    text-decoration: none;
    color:#000 !important;
    background-color: #E4E4E4;
     height: 43px;
     border-top-left-radius: 10px;
    border-top-right-radius: 10px;
     

  }
  #usercomments{
   height: 70px !important;
    width: 40%;
    margin-right:20px;
    float:left;
  }
  #propose{
    margin-top:20px;
    float:left;
  }
  .usercommentsec{  
      margin-top:10px;
  }
  .marTop20{
    margin-top:20px;
  }
  #newonAccountGrid{
      max-height: 300px;
      overflow: auto;
  }
}