@import 'components/grid/grid.less';
@import 'components/file-uploader/file-uploader.less';
@white-border: 1px solid #fff;


rn-file-uploader-new,propose-rn-file-uploader{
.fileupload-mixin();
}
rn-onaccount-balance-grid, rn-new-onaccount-grid{
  .grid-mixin();
    th, td {
      white-space: nowrap;
      text-align: right;
    }
    th.checbox, td.checkbox {
      width: 30px;
    }
  & > table {
    border-radius: 0px;

    /* getting border radius to work right */
    thead:first-child, tbody:first-child {
      & > tr:first-of-type {
        td:first-child, th:first-child {
          border-top-left-radius: 0px;
        }

        td:last-child, th:last-child {
          border-top-right-radius: 0px;
        }
      }
    }

    thead, tfoot {
      tr {
        th {
          padding-right: 0.625em;
          height: 1.5em;
          padding-top: .3em;
          padding-bottom: .3em;
          padding-left: .5em;
        }
      }
      tr.child {
          display: none;

          &.visible {
            display: table-row;
          }
        }

    }

    tbody:last-child {
      & > tr:last-of-type {
        td, th {
          height : 1.5625em;
          backgorund: !important;
        }

        td:first-child, th:first-child {
          border-bottom-left-radius: 0px;
          border-bottom: 1px solid #bfbfbf !important;
          border-left: 1px solid #bfbfbf !important;
          }

        td:last-child, th:last-child {
          border-bottom-right-radius: 0px;
        }
      }
    }

    tbody {
      background: #F7F7F7 !important;
      tr {
        height : 1.5625em;

        td {

          padding-right: 0.5625em;
          padding-left : 0.5625em;
          padding-top  : 0em;
          padding-bottom : 0em;

          border-right: 1px solid hsl(0, 0%, 75%);
          border-bottom: 1px solid #FFFFFF !important;

        }

      }

      tr.child {
        display: none;
        td {
          background: hsl(0, 0%, 100%)
        }
        &.visible {
          display: table-row;
        }
      }

      tr.child:last-child{
        td{
          border-bottom: 1px solid #bfbfbf !important;
        }
      }
    }
    .toggle, .licensor, .Licensor , .currency, .Currency, .ContentType{
      text-align: left;
    }
  }

}

  @light-grey: #f6f6f6;
  @middle-grey: hsl(0, 0%, 50%);
  @dark-grey: hsl(0, 0%, 25%);
  .nav{
    padding-left: 8px !important;
  }
  .nav-tabs > li > a{
    border:0;
  }
  #myTabs {
      li {

            margin-left: 0.25em;
            margin-bottom: -2px;
            border-radius: 4px 4px 0 0;
            a {
                text-decoration: none;
                color: white;
                margin-right: 0px;
                background-color: @middle-grey;
            }
      }
      li.active {
          border:0;
          a {
              text-decoration: none;
              background: @light-grey;
              color: @dark-grey;
              border-color: @middle-grey;
              border-bottom-color: @light-grey;
              border-radius: 4px 4px 0 0;
          }
      }
    }

  #usercomments, #usercommentsPOA{
    height: 150px !important;
  }
  #propose{
    margin-top:20px;
    float:left;
  }
  .usercommentsec{
      margin-top:10px;
  }
  .marTop20{
    margin-top:20px;
  }

  #newonAccountGrid{
      max-height: 200px;
      overflow: auto;
  }
  #proposedOnAccountGrid, #onAccountBalanceGrid{
      min-height: 200px;
      overflow-x: scroll;
      overflow-y: hidden;
      clear:both;
      padding-top:10px;
  }

  .tab-content {
    padding: 10px;
    border-top:1px solid #808080;
    background-color: #F8F8F8;
    overflow: hidden;
    padding-bottom: 3em;
  }
  .pull-inline {
    display: inline-block;
    float: left;
    padding-left:5px;
  }
  .push-right {
    float: right;
  }
  .marginLeft-5{
    margin-left:5px;
  }
  .lightestGrey{
    background-color:#E8E8E8;
  }

  .newOnAccBundle{
    margin-left: 48px;
    width: 75%;
  }
  .marginTop-10{
    margin-top:10px;
  }

//Commented the below line as these things handled in file upload componenet level
/*  rn-file-uploader .outer,propose-rn-file-uploader .outer{
    width: 100% !important;
  }
*/
.file-component-onacc-div {
  width:100%;
  height:200px;
  padding:0 0 20px 0;
}

  .fontvalue{
      font-size : 12px;
  }

  #onAccountContainer {
    margin: 0px auto;
  }

  .bundleDisplay{
    width:400px;
    height:50px;
    overflow-y: auto;
  }

   .errorOnAccount{
      position:absolute;
      font-size:12px;
      color:red;
      padding-left:42px;
      float: left;
      margin-top:-20px;
    }

.page_loader{
   position: absolute;
   left: 50%;
   top: 50%;
   background: transparent url('../../resources/images/spinner.gif') no-repeat center center;
   background-size: 100% 100%;
   margin: -10px 0 0 -10px;
   z-index: 100;
   height: 30px;
   width: 30px;
   color: transparent;
}

.customLI{
  background-color: transparent
   !important;
  border: none !important;
}

period-calendar{
  ul li{
    margin-left:0px !important;
  }
  li a{
    color: #000 !important;
    background-color: transparent !important;
  }
  li a:hover{
    color: #000 !important;
    background-color: transparent !important;
  }
}
// #exportExcel{
//   display:none;
// }
