@import 'components/grid/grid.less';
@white-border: 1px solid #fff;

rn-grid-onaccount {
  .grid-mixin();
  th, td {
  	white-space: nowrap;
  }
  th.checbox, td.checkbox {
    width: 30px;
  }
  tbody {

    tr {

      td {
      	border-right: @light-border;
      	border-bottom: @white-border;
      }
    }
    tr.child{
		td {
			background: hsl(0, 0%, 100%)
		}
    }
  }

}

