@import 'components/grid/grid.less';

rn-onaccount-balance-grid {
  .grid-mixin();
  table {
    /* You have to specify widths */
    width: 100%;
    tr>th, tr > td {
      width:2%;
    }

    thead, tbody, tfoot {
      display: block;
    }
    tbody {
      max-height: 8em;
      overflow-y: auto;
      overflow-x: hidden;
    }
    th, td {
      white-space: nowrap;
    }
  }
  tfoot {
  	tr.child {
      display: none;

      &.visible {
        display: table-row;
      }
    }
  }
}
