@import 'components/grid/grid.less';

@white-border: 1px solid #fff;
rn-grid-invoice {
  .grid-mixin();
  table {
    /* You have to specify widths */
    width: 100%;
    tr>th, tr > td {
      width:2%;
    }

    thead, tbody, tfoot {
	  display: block;
	}
	tbody {
	  max-height: 25em;
	  overflow-y: auto;
	  overflow-x: hidden;
	}
	th, td {
	  white-space: nowrap;
	}
  }
  .entity, .invoiceTypeDisp, .contentType, .country, .invoiceNum, .dueDate, .currency, .status, .bundleName, .comments{
  	text-align: left !important;
  }
  
}

.invoiceContainer{
	border: 0px !important;
	padding:10px;
	position: relative;

	.pageTitle{
	  padding-left: 75px;
	  padding-right:5px;
	  padding-bottom:25px;
	}
	#loading_img
	{
		background:url('../../resources/images/spinner.gif') no-repeat center center;
		padding:10%;
		position: absolute;
		top: 50px;
		margin: 0 auto;
		display:none;
		width: 100%;
	}
	#searchDiv > *{
		float:left;
		margin:0px 5px 0px 0px;
	}
	ul.token-input-list-facebook{
		width:80% !important;
		height: 20px !important;
		border-radius: 4px;
		border-color: #C6C6C6;
	}
	#invoiceGrid {
		background: #f4f4f4;
		clear: both;
		height: 400px;
		overflow-x: scroll;
		overflow-y: hidden;
		.invoiceAmt {
			text-align: right;
		}
	}
	.buttonSubmit{
		margin-left:10px;
	}

	#attachDocumentDiv{
		position: absolute;
		width: 450px;
		height:auto;
		border: 1px solid #ddd;
		margin: 0px auto;
		left: 350px;
		top: 50px;
		background: #fff;
		display:none;
		border-radius: 5px;
		padding:0 0 10px 0;

		.outer {
			width: 95%;
		}
	}
}
.paymentBundleDiv #paymentBundleNames{
	min-width:250px;
}
.export-toexcel{
	height:0px;
}