@import 'components/grid/grid.less';

rn-recon-grid {
  .grid-mixin();
  table {
    /* You have to specify widths */
    width: 100%;
    tr>th, tr > td {
      width:2%;
    }

    thead, tbody, tfoot {
      display: block;
    }
    tbody {
      max-height: 11em;
      overflow-y: overlay;
      overflow-x: hidden;
      tr:nth-child(odd){
        background: #f9f9f9;
      }
      tr:nth-child(even){
        background: #f0f0f0;
      }
    }
    th, td {
      white-space: nowrap;
    }
  }
  .amountColumn, .copConAmt, .unMatchedAmt, .badLines, .pubFee, .reconAmt,.liDispAmt, .noOfRecords, .recordsPercentage, .totalPubFee, .pubFeePercentage{
    text-align: right;
  }

}

rn-recon-grid thead th:last-child, rn-recon-grid tfoot th:last-child, rn-recon-grid thead td:last-child, rn-recon-grid tfoot td:last-child {
  border-right: 3px solid #868080 !important;
}