@dark-grey: #3d3d3d;
@medium-grey: #ececec;
@border-grey: #dddddd;

rn-dashboard-invoices {

  .select-message {
    padding: 1.5em;
    text-align: center;
    font-weight: bold;
    color: @dark-grey;
  }

  table.holes-report {
    width: 100%;
    overflow: auto;
    margin: 0 auto;
    color: @dark-grey;
    z-index: -1;
    display:inline-block;
    padding-left:68px;
    border: 0px solid grey;

    tbody {
      height: 200px;
      width: 200px;
      overflow: auto;
    }

    tr {
      height: 3em;
    }

    th {
    
        width: 1%;
        text-align: left;
        padding-left: 0.625em;
        height: 1.5em;
        padding-top: .3em;
        padding-bottom: .3em;
        color: #ffffff;
        font-size: 12px;
        background: linear-gradient(to bottom, #bfbfbf, #808080);
        border-right: 1px solid #666666 !important;
        border-left: 1px solid #666666 !important;
        border-top: 1px solid #666666 !important;
        border-bottom: 1px solid #666666 !important;
    }

    td {
      border: 1px solid @border-grey;
      position: relative;
      background-color: white;

      &.invoice-expected {
        background-color: @medium-grey;
      }

      .circle {
        margin: 0 auto;
        background-color: green;
        width: 1em;
        height: .5em;

        &.top {
          border-radius: .5em .5em 0 0;
        }
        &.bottom {
          border-radius: 0 0 .5em .5em;
        }
      }

      .la {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 1.3em;
      }

      .checkMark{
        width:25px;
        height:25px;
      }
    }

    .entity, .hole{
      text-align: center;
      white-space: nowrap;
    }

    .country {
      text-align: center;
      width: 5em;

      // span {
      //   display: inline-block;
      //   width: 50px;

      //   padding: .25em;
      //   background: @medium-grey;
      //   border-radius: .5em;
      // }
    }

    .local-society {
      padding-left: 1em;

    }
  }

  table.holes-reports-country {
    
    overflow: auto;
    margin: 0 auto;
    color: @dark-grey;
    position: absolute;
    display: inline-table;
    z-index: 100;

    tbody {
      height: 200px;
      width: 200px;
      overflow: auto;
    }

    tr {
      height: 3em;
    }

    th {
        width:88%;
        text-align: left;
        padding-left: 0.625em;
        height: 1.5em;
        padding-top: .3em;
        padding-bottom: .3em;
        color: #ffffff;
        font-size: 12px;
        background: linear-gradient(to bottom, #bfbfbf, #808080);
        border-right: 1px solid #666666 !important;
        border-left: 1px solid #666666 !important;
        border-top: 1px solid #666666 !important;
        border-bottom: 1px solid #666666 !important;
    }

    td {
      font-weight: normal;
      padding: .25em .5em;
      color: @dark-grey;
    }

    .entity, .hole{
      text-align: center;
    }

    .country {
      text-align: center;
      width: 5em;
    }
  }

  table.holes-reports-local {
   
    width: 100px;
    overflow: auto;
    margin: 0 auto;
    color: @dark-grey;

    position: absolute;
    display: inline-table;
    z-index: 100;

    tbody {
      height: 200px;
      width: 200px;
      overflow: auto;
    }

    tr {
      height: 3em;
    }

    th {
      font-weight: normal;
      padding: .25em .5em;
      color: @dark-grey;
    }

    td {
      border: 1px solid @border-grey;
      position: relative;
      background-color: white;

      &.invoice-expected {
        background-color: @medium-grey;
      }

      .circle {
        margin: 0 auto;
        background-color: green;
        width: 1em;
        height: .5em;

        &.top {
          border-radius: .5em .5em 0 0;
        }
        &.bottom {
          border-radius: 0 0 .5em .5em;
        }
      }

      .la {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 1.3em;
      }

      .checkMark{
        width:25px;
        height:25px;
      }
    }

    .entity, .hole{
      text-align: center;
    }

    .local-society {
      padding-left: 1em;

    }
  }

  table.missing-invoices {
    color: @dark-grey;

    tr {
      height: auto;
    }

    th {
      font-weight: normal;
      min-width: 6em;
    }

    th, td {
      padding: .5em 1em;
      border: 0px none transparent;
    }

    tbody tr {
      border-top: 1px solid @border-grey;
    }
  }

  .popover {
    max-width: none;
  }

}

.checkMark{
  width:15px;
  height:15px;
}

.la { 
      width: 1em;
    }

 .tableDiv{
   overflow:scroll;
   width:70%;
   height:250px;
   margin: 0px auto;
   position: relative;
 }

 label{
    font-family:HelveticaNeue, "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif; ;
    font-size:12px;
    color:#848484;
    font-weight:normal;
  }

  .imgBlock{
  
    padding-left: 58%;
    padding-top: 10px;
  }

  .wrapCopyToClipboard{
    overflow: auto !important;
    width: 0% !important;
    z-index: 101;
  }

  copy-clipboard #clonetable table{
    width: auto !important;
  }
