@import 'components/grid/grid.less';

rn-bundle-detail-grid {
  .grid-mixin();

  tbody {
    height: 10em;
  }

  th.validations, td.validations {
    text-align: center;

    img {
      height: 14px;
      margin-top: -4px;
    }
  }

  .lineAmt, .orDispAmt, .liDispAmt, .reconAmt,
  .onaccountAllocatedAmt, .cashadjAllocatedAmt, .priorPaid,
  .paymentAmt, .invoiceSaturation, .paymentSaturation, .invoicePaymentSaturation {
    text-align: right;
  }
}
