@import 'components/grid/grid.less';

rn-bundle-detail-grid {
  .grid-mixin();
  table {
    /* You have to specify widths */
    width: 100%;
    tr>th, tr > td {
      width:2%;
    }

    thead, tbody, tfoot {
      display: block;
    }
    tbody {
      max-height: 5em;
      overflow-y: overlay;
      overflow-x: hidden;
    }
    th, td {
      white-space: nowrap;
    }
  }
  th.validations, td.validations {
    text-align: center;

    img {
      height: 14px;
      margin-top: -4px;
    }
  }

  .lineAmt, .orDispAmt, .liDispAmt, .reconAmt,
  .onaccountAllocatedAmt, .cashadjAllocatedAmt, .priorPaid,
  .paymentAmt, .invoiceSaturation, .paymentSaturation, .invoicePaymentSaturation {
    text-align: right;
  }
}
