@import 'components/grid/grid.less';
@import 'components/grid/examples/scrolling-grid/scrolling-grid.less';

.flex-basis(@basis) {
  -webkit-flex-basis: @basis;
  flex-basis: @basis;
}

.flex-grow(@grow) {
  -webkit-flex-grow: @grow;
  flex-grow: @grow;
}

rn-outbox-grid {
  .grid-mixin();
  .scrolling-grid-mixin();

  tbody{
    overflow-y: overlay;
  }
  	.remind  {

		background-color: #1581F4;
		background-image: -moz-linear-gradient(top, #1581f4, #63adf1);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1581f4), to(#63adf1));
		background-image: -o-linear-gradient(top, #1581f4, #63adf1);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff00aaff', GradientType=0);
		border-color: #0A66CB #0A66CB #0A66CB;
		color: buttontext;

  	}

  	table.scrolling {
	    tbody {
	      height: 10em;
	      border-bottom: 1px solid #666;
	    }
	    tbody tr {
	      min-height: 1.5625em;
	    }

	    tbody td {
	      padding: 0.3em;
	    }

	    tbody > tr:last-child {
	      border-bottom: 1px solid #bfbfbf;
	     }

	    tr > th, tr > td {
	      &.type { .flex-basis(75px); }
	      &.description { .flex-grow(1); .flex-basis(100px); }
	      &.region { .flex-basis(100px); }
	      &.comments { .flex-basis(325px); }
	      &.pendingDays { .flex-basis(100px); }
	      &.currentlyWith  { .flex-basis(200px); }
	      &.approvalStage { .flex-basis(100px); }
	    }
	  }
}
