@import 'components/grid/grid.less';

rn-outbox-grid {
  .grid-mixin();

  	.remind  {

		background-color: #1581F4;
		background-image: -moz-linear-gradient(top, #1581f4, #63adf1);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1581f4), to(#63adf1));
		background-image: -o-linear-gradient(top, #1581f4, #63adf1);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff00aaff', GradientType=0);
		border-color: #0A66CB #0A66CB #0A66CB;

  	}
}
