@import 'components/grid/grid.less';

rn-proposed-onaccount-grid {
  .grid-mixin();

  input.invalid {
    background: red;
    color: white;
  }
  
}

/*#proposedonAccountGrid .rn-grid td input[type="checkbox"]{
    margin-left:0px;
    display:inherit;
}
 #proposedonAccountGrid .rn-grid .radio, .checkbox {
  position: relative;
  display: inherit;
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
*/

.toggle, .Licensor, .Currency, .ContentType{
      text-align: left;
}


#proposedTblGrid td.checkbox input[type="checkbox"]{
    margin-left:-30px !important;
}

#proposedTblGrid .checkbox {
  position: relative;
  display: block;
  min-height: 25px;
  margin-top: 0px;
  margin-bottom: -1px;
}
rn-proposed-onaccount-grid thead th:first-child{
  margin-top:0px;
}
rn-proposed-onaccount-grid thead th{
   padding: .3em .5em .3em .5em;
}

