rn-dashboard-payments-overview {
  h3 {
    font-size: 1.2em;
    text-align: center;
  }
  
  .region-chart {
    height: 6em;
    margin: 1em 0;
  }

  .column-container {
    display: flex;

    .column {
      flex: 1 0;
    }
  }
}
