global-parameter-bar {

  ul {
    list-style: none;
    padding-top: 20px;

    li {
      display: inline;
      padding: 10px 25px;

      .parameter-name {
        margin-right: 8px;
      }
    }
  }

}
