@import 'components/grid/grid.less';
@import 'components/grid/examples/scrolling-grid/scrolling-grid.less';



rn-bundle-grid {
  .grid-mixin();


  font-size: 10pt;


  .paymentAmt, .pendingDays{
    text-align: right;
  }

  table {
    /* You have to specify widths */
    width: 100%;
    tr>th, tr > td {
      width:2%;
    }

    thead, tbody, tfoot {
      display: block;
    }
    tbody {
      max-height: 12em;
      overflow-y: overlay;
      overflow-x: hidden;
    }
    th, td {
      white-space: nowrap;
    }
  }
}
#payBundleGrid {
    background: #f4f4f4;
    clear: both;
    min-height: 200px;
    overflow-x: overlay;
    overflow-y: hidden;
  }