@light-grey: hsl(0, 0%, 90%);
@middle-grey: hsl(0, 0%, 50%);
@dark-grey: hsl(0, 0%, 25%);

rn-bundle-detail {
  display: block;
  margin-top: 2em;

  .controls {
    padding-left: 3em;
  }

  .grid-container {
    background-color: @light-grey;
    border-top: 1px solid @middle-grey;
    margin-top: 1.5em;
    margin-bottom: 2em;
  }

}
