@light-grey: hsl(0, 0%, 90%);
@middle-grey: hsl(0, 0%, 50%);
@dark-grey: hsl(0, 0%, 25%);

rn-bundle-detail {
  display: block;
  margin-top: 2em;

  .tabs {
    margin-bottom: -1px;
    padding-left: 1em;
  }

  .tabs > li {
    display: inline-block;
    color: white;
    background: @middle-grey;
    padding: .5em 1em;

    border-radius: 4px 4px 0 0;
    border-color: @dark-grey;
    border-style: solid;
    border-width: 1px 1px 0 1px;

    &.selected {
      background: @light-grey;
      color: @dark-grey;
      border-color: @middle-grey;
    }

  }

  .grid-container {
    background-color: @light-grey;
    min-height: 300px;
    border-top: 1px solid @middle-grey;
  }

}
